div{
	color: red;
}
.centr{
	color: blueviolet;
}
.metro{
	color:rgb(173, 10, 10)
}
.desert{
	color: green;
}
.street{
	color: rgb(29, 93, 196);
}
.programmer{
	color: orange;
}
.sea{
	color: grey;
}